*.VC.db
*.VC.opendb
CacheLib/Debug/
CacheLib/Release/
CacheLib/x64/Debug/
CacheLib/x64/Release/
CSP/Win32/Debug/
CSP/Win32/Release/
CSP/x64/Debug/
CSP/x64/Release/
EsempioCSP/bin/
EsempioCSP/obj/
EsempioPCSC/Win32/Debug/
EsempioPCSC/Win32/Release/
EsempioPCSC/x64/Debug/
EsempioPCSC/x64/Release/
EsempioPKCS11/Win32/Debug/
EsempioPKCS11/Win32/Release/
EsempioPKCS11/x64/Debug/
EsempioPKCS11/x64/Release/
ipch/
Win32/Debug/
Win32/Release/
x64/Debug/
x64/Release/
/.vs/Middleware CIE/v15
/Debug
/.vs/cie-middleware/v15
/CSP/CSP.vcxproj.user
/Setup/x64/Debug
/UpgradeLog2.htm
/UpgradeLog.htm
/.vs
/Setup/x64/Release
/Setup/CIE-Middleware.exe
/CSP/CSP/StoreProvider.cpp.bak
/CSP/res/CIEPKI.APS
/CSP/RCb02144
/CSP/RCa02144
/CSP/Cryptopp/Win32
/CacheLib_NoKeys
/CacheLib_Keys
/Setup/CIEMiddleware.nsi.bak
/Setup/setup.vcxproj.user
/Setup/Debug/setup.log
/Setup/Debug/CIE-Middleware.exe
/Setup/Release
/Release
/TestCIE/x64/Release/TestCIE.tlog
/TestCIE/x64/Release
/TestCIE/X64/*
/CIEID/.vs/CIEID/v15
/CIEID/bin/Debug
/CIEID/obj
/CIEID/CIEID.csproj.user
/TestCIE/Debug
/TestCIE/Release
/CIEID/bin/Release
NoteCIEtxt/
cie_sign_sdk/build/
cie_sign_sdk/build32
cie_sign_sdk.lib
Middleware-produzione/
sign_sha256.bat
sign_sha256_local.bat
signtool.exe
hooks
lfs
.vscode/
Newtonsoft.Json.12.0.3/
TODO.txt
Setup/Debug/setup.vcxprojAssemblyReference.cache