<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CIEID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <CIEID.Properties.Settings>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cieList" serializeAs="String">
                <value />
            </setting>
            <setting name="serialNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="cardHolder" serializeAs="String">
                <value />
            </setting>
            <setting name="efSeriale" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyURL" serializeAs="String">
                <value />
            </setting>
            <setting name="credentials" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value>0</value>
            </setting>
        </CIEID.Properties.Settings>
    </userSettings>
</configuration>
